<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Treez | Assignment</title>
    <script
      defer="defer"
      src="{% static 'transaction/js/main.c5f37929.js' %}"
    ></script>
    <link
      rel="stylesheet"
      href="{% static 'transaction/css/main.79ea0211.css' %}"
    />
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
